body{
    margin: 0px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    background-color: #078595;
    padding: 12px;
  }
  li {
    display: inline;
    padding: 15px;
  }
  a{
    color: black;
    text-decoration: none;
  }
  nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#078595;
    color: white;
    text-align: center;
  }
  .footerLink{
    color:  white;
  }
  /* .form-Sec{
    border: 1px solid black;
    width: 42%;
    height: 405px;
    margin-left: 33px;
  } */
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.purple{
  margin-left: 23px;
  padding-top: 58px;
  /* border: 1px solid seagreen; */
}
a{
  color: white;
}
#divCards{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
}
.card-style{
    /* padding-left: 15px;  
    background-color: rgb(15, 170, 194);
    border-radius: 15px;
    width: 39%;
    float: right;
    margin: 10px; 
    display: grid; 
    padding-bottom: 10px; */
    background-color: #078595;
    border-radius: 15px;
    padding-left: 15px; 
    
  }

  .grid-child {
    padding-bottom: 150px;
    padding-right: 20px;
  }

  #table{
    /* border: 1px solid black; */
    margin-left: 30%;
    margin-top: 10%;
    font-size: 21px;
    background-color: #88c3ca;
   
  }